<!DOCTYPE html>
<html lang="en" class="{% block pagetype %}{% endblock %}">
<head>
    <title>GTB</title>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    {{ "gtb.css" | asset_url | stylesheet_tag }}
</head>
<body>
    {% include "header" %}
    {% block content %}{% endblock %}
</body>
</html>