/* [sass, assets/css, gtb.scss] */
@import url(http://fonts.googleapis.com/css?family=Varela+Round);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:400italic,700italic,700,400);
/* line 57, /Users/abaldwin/dev/gtb/assets/css/_mixins.scss */
.clearfix:after, section.grid section.release:after, section.grid:after {
  content: '';
  display: table;
  clear: both; }

@-webkit-keyframes rotate_cycle {
  0% {
    opacity: 0; }
  2% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
    -khtml-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    transform: translateY(-30px); }
  5% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -khtml-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); }
  17% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -khtml-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); }
  20% {
    opacity: 0;
    -webkit-transform: translateY(30px);
    -khtml-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px); }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }
@-moz-keyframes rotate_cycle {
  0% {
    opacity: 0; }
  2% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
    -khtml-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    transform: translateY(-30px); }
  5% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -khtml-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); }
  17% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -khtml-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); }
  20% {
    opacity: 0;
    -webkit-transform: translateY(30px);
    -khtml-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px); }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }
@-ms-keyframes rotate_cycle {
  0% {
    opacity: 0; }
  2% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
    -khtml-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    transform: translateY(-30px); }
  5% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -khtml-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); }
  17% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -khtml-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); }
  20% {
    opacity: 0;
    -webkit-transform: translateY(30px);
    -khtml-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px); }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }
@-o-keyframes rotate_cycle {
  0% {
    opacity: 0; }
  2% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
    -khtml-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    transform: translateY(-30px); }
  5% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -khtml-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); }
  17% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -khtml-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); }
  20% {
    opacity: 0;
    -webkit-transform: translateY(30px);
    -khtml-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px); }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }
@keyframes rotate_cycle {
  0% {
    opacity: 0; }
  2% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
    -khtml-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    transform: translateY(-30px); }
  5% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -khtml-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); }
  17% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -khtml-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); }
  20% {
    opacity: 0;
    -webkit-transform: translateY(30px);
    -khtml-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px); }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }
@-webkit-keyframes self-draw {
  0% {
    stroke-dasharray: 0.5% 20%; }
  50% {
    stroke-dasharray: 20% 10%; }
  100% {
    stroke-dasharray: 0.5% 20%; } }
/* line 53, /Users/abaldwin/dev/gtb/assets/css/gtb.scss */
* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box; }

/* line 55, /Users/abaldwin/dev/gtb/assets/css/gtb.scss */
html, body {
  width: 100%;
  height: 100%; }

/* line 59, /Users/abaldwin/dev/gtb/assets/css/gtb.scss */
body {
  font-family: "Roboto", sans-serif;
  color: #222;
  background: #28194D;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 70%; }

/* line 70, /Users/abaldwin/dev/gtb/assets/css/gtb.scss */
header {
  font-family: "Varela Round", sans-serif;
  color: #fff;
  width: 100%;
  background: #28194D;
  height: 4em;
  z-index: 1000; }
  /* line 78, /Users/abaldwin/dev/gtb/assets/css/gtb.scss */
  header svg {
    width: 20em;
    padding-top: 1.5em;
    margin-left: -3.5em;
    margin-top: -15.75em; }
    /* line 84, /Users/abaldwin/dev/gtb/assets/css/gtb.scss */
    header svg .drawable * {
      stroke: rgba(255, 255, 255, 0.1);
      stroke-width: 0.25em;
      stroke-dasharray: 0.5% 20%;
      opacity: 1; }
  /* line 94, /Users/abaldwin/dev/gtb/assets/css/gtb.scss */
  header:hover svg .drawable * {
    opacity: 1;
    stroke: rgba(255, 255, 255, 0.2);
    stroke-width: 0.25em;
    -webkit-animation: self-draw 8s ease-out;
    -moz-animation: self-draw 8s ease-out;
    -ms-animation: self-draw 8s ease-out;
    -o-animation: self-draw 8s ease-out;
    animation: self-draw 8s ease-out;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }
  /* line 107, /Users/abaldwin/dev/gtb/assets/css/gtb.scss */
  header h1 {
    display: none;
    float: left;
    font-size: 2em;
    height: 1em; }

/* line 119, /Users/abaldwin/dev/gtb/assets/css/gtb.scss */
nav {
  font-family: "Varela Round", sans-serif;
  z-index: 1000;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding: 0 1.5em;
  width: 65%;
  max-width: 45em;
  min-width: 40em;
  padding-left: 10%;
  height: 4em; }
  /* line 136, /Users/abaldwin/dev/gtb/assets/css/gtb.scss */
  nav a {
    text-decoration: none;
    font-size: 0.9em;
    padding: 0.6em;
    flex-grow: 1;
    color: rgba(255, 255, 255, 0.8);
    -webkit-transition: all 200ms ease-out;
    -khtml-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -ms-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
    text-align: center;
    border-radius: 3px; }
    /* line 146, /Users/abaldwin/dev/gtb/assets/css/gtb.scss */
    nav a:hover {
      color: #fff;
      flex-grow: 2;
      background: rgba(255, 255, 255, 0.1);
      -webkit-transition: all 200ms ease-out;
      -khtml-transition: all 200ms ease-out;
      -moz-transition: all 200ms ease-out;
      -ms-transition: all 200ms ease-out;
      -o-transition: all 200ms ease-out;
      transition: all 200ms ease-out; }

/* line 158, /Users/abaldwin/dev/gtb/assets/css/gtb.scss */
a {
  color: #2DA7D7;
  opacity: 0.8;
  word-wrap: break-word; }
  /* line 163, /Users/abaldwin/dev/gtb/assets/css/gtb.scss */
  a:hover {
    opacity: 1; }
  /* line 167, /Users/abaldwin/dev/gtb/assets/css/gtb.scss */
  a.cta {
    display: block;
    color: #fff;
    font-size: 1.2em;
    background: #2DA7D7;
    border-radius: 3px;
    padding: 1em;
    text-decoration: none;
    border: 4px solid #2DA7D7;
    -webkit-transition: all 200ms linear;
    -khtml-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear; }
    /* line 178, /Users/abaldwin/dev/gtb/assets/css/gtb.scss */
    a.cta:after {
      content: '\279F';
      float: right;
      font-size: 3em;
      line-height: 0.5em; }
    /* line 185, /Users/abaldwin/dev/gtb/assets/css/gtb.scss */
    a.cta:hover {
      color: #2DA7D7;
      background: none;
      -webkit-transition: all 200ms linear;
      -khtml-transition: all 200ms linear;
      -moz-transition: all 200ms linear;
      -ms-transition: all 200ms linear;
      -o-transition: all 200ms linear;
      transition: all 200ms linear; }

/* line 196, /Users/abaldwin/dev/gtb/assets/css/gtb.scss */
footer {
  font-size: 0.6em;
  color: #bbb;
  height: 2em;
  position: relative;
  top: 30em;
  width: 100%;
  text-align: center; }

/* line 3, /Users/abaldwin/dev/gtb/assets/css/_index.scss */
.index body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start; }
@-webkit-keyframes self-draw {
  0% {
    stroke-dasharray: 0 60%; }
  50% {
    stroke-dasharray: 100% 10%; }
  100% {
    stroke-dasharray: 0 60%; } }
  /* line 16, /Users/abaldwin/dev/gtb/assets/css/_index.scss */
  .index body header {
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
    background: #28194D !important; }
    /* line 24, /Users/abaldwin/dev/gtb/assets/css/_index.scss */
    .index body header svg {
      width: 60%;
      display: flex;
      margin-left: -33%;
      padding-top: 1.5em;
      margin-right: -30%;
      padding-right: 1em;
      margin-top: 0;
      z-index: 400; }
      /* line 34, /Users/abaldwin/dev/gtb/assets/css/_index.scss */
      .index body header svg .drawable * {
        opacity: 0; }
    /* line 41, /Users/abaldwin/dev/gtb/assets/css/_index.scss */
    .index body header:hover svg .drawable * {
      opacity: 1; }
    /* line 47, /Users/abaldwin/dev/gtb/assets/css/_index.scss */
    .index body header span {
      height: 1em;
      font-size: 2em;
      display: flex;
      margin-left: 1.2em; }
    /* line 54, /Users/abaldwin/dev/gtb/assets/css/_index.scss */
    .index body header ul {
      display: flex;
      height: 2em; }
      /* line 58, /Users/abaldwin/dev/gtb/assets/css/_index.scss */
      .index body header ul li {
        font-size: 2em;
        list-style-type: none;
        position: absolute;
        text-indent: 0.5em;
        opacity: 0;
        overflow: hidden;
        -webkit-animation: rotate_cycle 18s ease-out infinite; }
  /* line 75, /Users/abaldwin/dev/gtb/assets/css/_index.scss */
  .index body nav {
    padding: 0.3em;
    justify-content: center;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: inherit;
    right: inherit;
    bottom: 0;
    max-width: 100%; }
    /* line 86, /Users/abaldwin/dev/gtb/assets/css/_index.scss */
    .index body nav a {
      color: rgba(255, 255, 255, 0.5);
      font-size: 1.1em;
      margin: 0.5em;
      padding: 0.5em;
      flex-grow: 0; }
      /* line 93, /Users/abaldwin/dev/gtb/assets/css/_index.scss */
      .index body nav a:hover {
        color: #fff;
        padding: 0.5em 1em;
        flex-grow: 0; }

/* line 3, /Users/abaldwin/dev/gtb/assets/css/_grid.scss */
section.grid {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
  background: none; }
  /* line 11, /Users/abaldwin/dev/gtb/assets/css/_grid.scss */
  section.grid section.release {
    margin: 1em;
    padding: 0;
    flex-basis: 40%;
    flex-grow: 10;
    flex-shrink: 2;
    display: flex;
    height: 10em;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.1);
    position: relative;
    transition: all 200ms ease-in;
    cursor: pointer; }
    /* line 25, /Users/abaldwin/dev/gtb/assets/css/_grid.scss */
    section.grid section.release:nth-child(4n+2) {
      flex-grow: 5; }
    /* line 26, /Users/abaldwin/dev/gtb/assets/css/_grid.scss */
    section.grid section.release:nth-child(3n+3) {
      flex-grow: 5; }
    /* line 28, /Users/abaldwin/dev/gtb/assets/css/_grid.scss */
    section.grid section.release:hover {
      flex-grow: 10; }
      /* line 31, /Users/abaldwin/dev/gtb/assets/css/_grid.scss */
      section.grid section.release:hover .info {
        border-left-width: 3em; }
    /* line 37, /Users/abaldwin/dev/gtb/assets/css/_grid.scss */
    section.grid section.release img.cover {
      width: 10em;
      height: 10em;
      float: left;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px; }
    /* line 45, /Users/abaldwin/dev/gtb/assets/css/_grid.scss */
    section.grid section.release a {
      text-decoration: none; }
    /* line 47, /Users/abaldwin/dev/gtb/assets/css/_grid.scss */
    section.grid section.release .info {
      color: #fff;
      display: block;
      position: absolute;
      left: 10em;
      height: 100%;
      padding: 1em 1.2em;
      border-left: 1em solid rgba(255, 255, 255, 0.1);
      transition: all 200ms ease-in;
      background: none;
      width: auto; }
      /* line 59, /Users/abaldwin/dev/gtb/assets/css/_grid.scss */
      section.grid section.release .info span {
        display: block;
        font-family: "Varela Round", sans-serif; }
        /* line 63, /Users/abaldwin/dev/gtb/assets/css/_grid.scss */
        section.grid section.release .info span.artist {
          text-transform: lowercase;
          opacity: 0.6;
          line-height: 1.2em; }
        /* line 68, /Users/abaldwin/dev/gtb/assets/css/_grid.scss */
        section.grid section.release .info span.title {
          font-size: 1.5em;
          line-height: 1.1em; }
        /* line 72, /Users/abaldwin/dev/gtb/assets/css/_grid.scss */
        section.grid section.release .info span.number {
          opacity: 0.4;
          position: absolute;
          bottom: 1em; }
      /* line 80, /Users/abaldwin/dev/gtb/assets/css/_grid.scss */
      section.grid section.release .info:before {
        content: '';
        background: url(http://s.goose.im/disk.svg) no-repeat;
        background-size: contain;
        overflow: hidden;
        width: 10em;
        height: 10em;
        position: absolute;
        top: 0;
        left: -11em;
        z-index: -10; }

/* line 4, /Users/abaldwin/dev/gtb/assets/css/_feature.scss */
.feature header {
  background: rgba(0, 0, 0, 0.6); }
  /* line 7, /Users/abaldwin/dev/gtb/assets/css/_feature.scss */
  .feature header svg .drawable * {
    stroke: rgba(255, 255, 255, 0.7); }
/* line 12, /Users/abaldwin/dev/gtb/assets/css/_feature.scss */
.feature section {
  position: relative;
  top: 60%;
  min-height: 4em;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1); }

/* line 3, /Users/abaldwin/dev/gtb/assets/css/_article.scss */
section {
  width: 100%;
  background: #eee;
  padding: 3em 5em; }
  /* line 8, /Users/abaldwin/dev/gtb/assets/css/_article.scss */
  section article {
    max-width: 45em;
    margin: 0 auto;
    font-size: 1.2em; }
  /* line 14, /Users/abaldwin/dev/gtb/assets/css/_article.scss */
  section h2 {
    font-family: "Roboto Slab", sans-serif;
    margin-bottom: 1em; }
  /* line 19, /Users/abaldwin/dev/gtb/assets/css/_article.scss */
  section p {
    margin: 1.5em 0; }
  /* line 23, /Users/abaldwin/dev/gtb/assets/css/_article.scss */
  section .meta {
    margin: -1.5em 0 1.5em 0;
    font-size: 0.8em;
    color: #aaa; }
  /* line 29, /Users/abaldwin/dev/gtb/assets/css/_article.scss */
  section blockquote {
    margin-left: 1em;
    padding: 0.1em 1.2em;
    border-left: 5px solid #ccc;
    background: #ddd; }
  /* line 36, /Users/abaldwin/dev/gtb/assets/css/_article.scss */
  section img {
    max-width: 100%; }

/* line 217, /Users/abaldwin/dev/gtb/assets/css/gtb.scss */
.index header ul li:nth-child(0) {
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s; }

/* line 217, /Users/abaldwin/dev/gtb/assets/css/gtb.scss */
.index header ul li:nth-child(1) {
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  -o-animation-delay: 3s;
  animation-delay: 3s; }

/* line 217, /Users/abaldwin/dev/gtb/assets/css/gtb.scss */
.index header ul li:nth-child(2) {
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -o-animation-delay: 6s;
  animation-delay: 6s; }

/* line 217, /Users/abaldwin/dev/gtb/assets/css/gtb.scss */
.index header ul li:nth-child(3) {
  -webkit-animation-delay: 9s;
  -moz-animation-delay: 9s;
  -o-animation-delay: 9s;
  animation-delay: 9s; }

/* line 217, /Users/abaldwin/dev/gtb/assets/css/gtb.scss */
.index header ul li:nth-child(4) {
  -webkit-animation-delay: 12s;
  -moz-animation-delay: 12s;
  -o-animation-delay: 12s;
  animation-delay: 12s; }

/* line 217, /Users/abaldwin/dev/gtb/assets/css/gtb.scss */
.index header ul li:nth-child(5) {
  -webkit-animation-delay: 15s;
  -moz-animation-delay: 15s;
  -o-animation-delay: 15s;
  animation-delay: 15s; }

@media (max-width: 730px) {
  /* line 231, /Users/abaldwin/dev/gtb/assets/css/gtb.scss */
  .index body header {
    height: 70%;
    justify-content: flex-start; }
    /* line 235, /Users/abaldwin/dev/gtb/assets/css/gtb.scss */
    .index body header h1 {
      display: flex;
      padding-left: 2em; }
    /* line 236, /Users/abaldwin/dev/gtb/assets/css/gtb.scss */
    .index body header span {
      margin-left: 0.5em; }
    /* line 237, /Users/abaldwin/dev/gtb/assets/css/gtb.scss */
    .index body header svg {
      display: none; }
  /* line 240, /Users/abaldwin/dev/gtb/assets/css/gtb.scss */
  .index body nav {
    justify-content: flex-start !important;
    height: 30%;
    padding: 1.5em 3em 1.5em 3em;
    min-width: 0; }
    /* line 246, /Users/abaldwin/dev/gtb/assets/css/gtb.scss */
    .index body nav a {
      margin: 0.3em 0.6em; }

  /* line 252, /Users/abaldwin/dev/gtb/assets/css/gtb.scss */
  header {
    height: 4em;
    overflow: visible;
    background: rgba(0, 0, 0, 0.8); }
    /* line 257, /Users/abaldwin/dev/gtb/assets/css/gtb.scss */
    header nav {
      left: 0;
      padding-top: 1em;
      padding-bottom: 1em;
      background: rgba(0, 0, 0, 0.6);
      top: 4em;
      flex-wrap: wrap;
      justify-content: flex-start;
      padding: 1em;
      width: 100%;
      min-width: 100%;
      height: auto; }
      /* line 270, /Users/abaldwin/dev/gtb/assets/css/gtb.scss */
      header nav a {
        text-align: left;
        margin: 0.2em 0.6em;
        color: #ddd; }

  /* line 278, /Users/abaldwin/dev/gtb/assets/css/gtb.scss */
  .article section {
    padding: 2em; }

  /* line 282, /Users/abaldwin/dev/gtb/assets/css/gtb.scss */
  section.grid {
    top: 4em;
    margin: 0; }
    /* line 286, /Users/abaldwin/dev/gtb/assets/css/gtb.scss */
    section.grid section.release {
      margin: 0.5em 0;
      flex-basis: 100%;
      flex-grow: 0 !important;
      flex-shrink: 0 !important; }

  /* line 294, /Users/abaldwin/dev/gtb/assets/css/gtb.scss */
  footer {
    top: 4em; } }
@media (max-width: 497px) {
  /* line 303, /Users/abaldwin/dev/gtb/assets/css/gtb.scss */
  section.grid {
    top: 6.5em !important; }

  /* line 304, /Users/abaldwin/dev/gtb/assets/css/gtb.scss */
  section.release .info span.title {
    font-size: 1.2em !important; } }
@media (min-width: 1600px) {
  /* line 309, /Users/abaldwin/dev/gtb/assets/css/gtb.scss */
  nav {
    max-width: 55em; }

  /* line 315, /Users/abaldwin/dev/gtb/assets/css/gtb.scss */
  section.grid section.release {
    font-size: 1.2em;
    flex-basis: 30%;
    flex-grow: 1 !important;
    flex-shrink: 0 !important; }
    /* line 321, /Users/abaldwin/dev/gtb/assets/css/gtb.scss */
    section.grid section.release:nth-child(6n+4) {
      flex-grow: 6 !important; }
    /* line 323, /Users/abaldwin/dev/gtb/assets/css/gtb.scss */
    section.grid section.release:hover {
      flex-grow: 10 !important; } }
