{% block pagetype %}about{% endblock %}
{% block content %} 

{% include "header" %}

<svg version="1.1" id="bg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="545.161px" height="556.473px" viewBox="0 0 545.161 556.473" enable-background="new 0 0 545.161 556.473"
	 xml:space="preserve">
<g class="draw">
	<polyline fill="none" stroke="#FFFFFF" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
	11.56,419.979 489.69,443.833 65.074,550.971 531.982,255.499 228.875,6.757 136.786,65.035 65.074,550.971 11.56,419.979 
	228.875,6.757 361.875,320.729 11.56,419.979 361.875,320.729 489.69,443.833 531.982,255.499 136.786,65.035 "/>
</g>
</svg>

<section>
    <h2>GTB is a collective.</h2>
    <p>We are musicians, artists, producers, fans, designers, and writers.</p>
</section>

{% endblock %}