{% block pagetype %}grid blog{% endblock %}
{% block content %} 
<section class="grid">

    <section class="post feature">
        <a href="/blog/feature/">
            <img class="feature" src="https://s3.amazonaws.com/ksr/projects/1581217/photo-1024x768.jpg?1420680913">
            <h2>Kickstarter time! Bring echo vessel's <i>L.A. Soundtrack</i> to vinyl</h2>
        </a>
        <p class="meta">20:24 EST 01/19/2015 by <i>Alex</i></p>
    </section>

    <section class="post">
        <a href="/blog/post/">
            <h2>Kickstarter time! Bring echo vessel's <i>L.A. Soundtrack</i> to vinyl</h2>
        </a>
        <p class="meta">20:24 EST 01/19/2015 by <i>Alex</i></p>
    </section>
    
    <section class="post">
        <a href="/blog/">
            <h2>A fake post</h2>
        </a>
        <p class="meta">20:24 EST 01/19/2015 by <i>Alex</i></p>
    </section>
    
</section>
{% include "footer" %}

{% endblock %}