{% block pagetype %}grid{% endblock %}
{% block content %} 

{%include "header" %}

<section class="grid">
    <section class="release soundcloud">
        <iframe width="100%" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/138665083&amp;color=28194d&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
    </section>
    <section class="release">
        <img class="cover" src="http://gtbrecs.com/wp-content/uploads/2014/10/a1548184736_2.jpg">						
        <section class="info">
            <span class="artist">Cassette Fighter</span>
            <span class="title">Mattress Blowout Sale</span>
            <span class="number">GTB054</span>
        </section>
    </section>
    <section class="release">
        <img class="cover" src="http://gtbrecs.com/wp-content/uploads/2014/08/a2761435753_2.jpg">						
        <section class="info">
            <span class="artist">Mathiasen</span>
            <span class="title">Moon Phases</span>
            <span class="number">GTB052</span>
        </section>
    </section>
    <section class="release">
        <img class="cover" src="http://gtbrecs.com/wp-content/uploads/2014/05/remixes-500x5002.png">						
        <section class="info">
            <span class="artist">Infinitefreefall</span>
            <span class="title">The Remixes, Vol. 3</span>
            <span class="number">GTB048</span>
        </section>
    </section>
    <section class="release soundcloud">
        <iframe width="100%" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/184338895&amp;color=28194d&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
    </section>
    <section class="release">
        <img class="cover" src="http://gtbrecs.com/wp-content/uploads/2014/05/Screen-Shot-2014-05-06-at-2.19.43-PM.png">						
        <section class="info">
            <span class="artist">Friendfiction </span>
            <span class="title">Literature</span>
            <span class="number">GTB047</span>
        </section>
    </section>
</section>
<footer>things are copyright GTB 2015</footer>

{% endblock %}